############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# IDEs
############################################

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
# Keep shared code styles and inspections
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Eclipse
.project
.classpath
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

############################################
# Build System Outputs
############################################

# Maven
/target/

# Gradle
.gradle/
build/

# Ignore wrapper logs but keep wrappers
gradle-app.setting
gradle-wrapper.properties
gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Maven Wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

############################################
# Logs
############################################
*.log

############################################
# Environment & Config Files
############################################
.env
*.env

############################################
# Others
############################################
*.bak
*.swp
*.tmp
